:root {
	color: white;
	--body-bg-color: #4e4e4e;
}

body {
	background-color: var(--body-bg-color);
}
img {
	width: 100px;
	height: 100px;
}
.pokemons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.buttons {
	margin: 25px;
	gap: 5em;
	display: flex;
	justify-content: center;
}