:root {
	color: white;
	--body-bg-color: #1B1D2A;
	--primary-color: #3B4CCA ;
	--secondary-color: #A5C8E1 ;
}

body {
	background-color: var(--body-bg-color);
}
img {
	width: 100px;
	height: 100px;
}
.pokemons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.buttons {
	margin: 25px;
	gap: 5em;
	display: flex;
	justify-content: center;
}

.type-badge {
	font-weight: bold; 
	padding: 5px;
	margin-right: 5px;
	width: 100px;
	height: 100px;
	border: white 2px solid;
	border-radius: 20px;
	
}
