@import "./index.css";

.pokemons-list {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.pokemon-card {
	width: 220px;
	height: 330px;
	font-size: 20px;
	color: white;
	background-color: var(--primary-color);
	border-radius: 30px;
	border: 3px solid var(--secondary-color);
	box-shadow: 10px  10px 50px rgba(165, 200, 225, 0.2);
}
.pokemon-card.shiny{
	border: 3px solid gold;
}

.pokemon-card:hover {
	cursor: pointer;
	width: 215px;
	height: 325px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: var(--primary-color) 3px solid;
}
