@import "index.css";

body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 {
	text-align: center;
}

.pokemon-details-card {
	text-align: center;
	border: 5px solid var(--secondary-color);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	width: 600px;
	padding: 20px;
}

.pokemon-details-card img {
	width: 13em;
	height: 13em;
}

.back-button {
	position: absolute;
	top: 10px;
	left: 10px;
}
